<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permission to use the device's camera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Declares the use of camera hardware, but not mandatory -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application>
        <!-- Declares the activity for the OCR scanner -->
        <activity
            android:name="com.mwkg.ocr.view.HiCardNumberListActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
    </application>

</manifest>